body {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Cascadia Code", Consolas, monospace;
}
